<section class="tabs_effect">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="TAB 1">
            <h3>Tabs with soft transitioning effect.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              euismod bibendum laoreet. Proin gravida dolor sit amet lacus
              accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
              Cum sociis natoque penatibus et magnis dis parturient montes.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              euismod bibendum laoreet.
            </p>
            <button class="btn download">Download</button>
          </mat-tab>
          <mat-tab label="TAB 2">
            <h3>Tabs with soft transitioning effect.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              euismod bibendum laoreet. Proin gravida dolor sit amet lacus
              accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
              Cum sociis natoque penatibus et magnis dis parturient montes.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              euismod bibendum laoreet.
            </p>
            <button class="btn download">Download</button>
          </mat-tab>
          <mat-tab label="TAB 3">
            <h3>Tabs with soft transitioning effect.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              euismod bibendum laoreet. Proin gravida dolor sit amet lacus
              accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
              Cum sociis natoque penatibus et magnis dis parturient montes.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              euismod bibendum laoreet.
            </p>
            <button class="btn download">Download</button>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="col-md-4 building">
        <img src="../../../../assets/images/building.png" alt="building" />
      </div>
    </div>
  </div>
</section>
<section class="sub_list">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="../../../../assets/images/img1.jpg" alt="img1" />
      </div>
      <div class="col-md-5 offset-md-2">
        <app-heading>
          <h4>Sub list section</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra justo commodo.
          </p>
        </app-heading>
        <div class="row">
          <div class="col-sm-2">
            <i class="fa-solid fa-cloud-arrow-up"></i>
          </div>
          <div class="col-sm-10">
            <h4>Title</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              possimus doloribus sit distinctio optio!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <i class="fa-solid fa-cloud-arrow-down"></i>
          </div>
          <div class="col-sm-10">
            <h4>Title</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              possimus doloribus sit distinctio optio!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sub_list2">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <app-heading>
          <h4>Sub list section</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra justo commodo.
          </p>
        </app-heading>
      </div>
      <div class="col-md-5 offset-md-2">
        <img src="../../../../assets/images/img1.jpg" alt="img1" />
      </div>
    </div>
  </div>
</section>

<section class="sub_list3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-heading>
          <h4>Sub list section</h4>
          <p>Lorem ipsum dolor</p>
        </app-heading>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="icon">
          <i class="fa-solid fa-cloud-arrow-down"></i>
        </div>
        <h4>Heading</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eligendi
          ducimus alias quidem officiis quod fuga molestias recusandae earum ex.
        </p>
      </div>
      <div class="col-md-4">
        <div class="icon">
          <i class="fa-solid fa-cloud-arrow-down"></i>
        </div>
        <h4>Heading</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eligendi
          ducimus alias quidem officiis quod fuga molestias recusandae earum ex.
        </p>
      </div>
      <div class="col-md-4">
        <div class="icon">
          <i class="fa-solid fa-cloud-arrow-down"></i>
        </div>
        <h4>Heading</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eligendi
          ducimus alias quidem officiis quod fuga molestias recusandae earum ex.
        </p>
      </div>
    </div>
  </div>
</section>
